.toolbar {
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    gap: 30px;
    padding: 20px 0px;
    max-width: 100%;
}

.createIcon {
    font-size: 40px;
    cursor: pointer;
}

.saveIcon {
    font-size: 40px;
    cursor: pointer;
}

.docSelect {
    justify-self: center;
}

.pdfView {
    background-color: white;
}

.permittedUsers {
    width: 220px;
}